.search-result {
  h2 {
    color: #093a41;
  }
  color: #000;
  input {
    border: 1px solid initial;
    box-shadow: none;
    color: #555555;
    transition: none;
  }

  input:focus-visible {
    outline: 1px solid #000;
  }
  input:focus {
    box-shadow: none;
    border: 1px solid black;
  }
  &-display {
    margin-top: 40px;
    background: #ebebeb;
    padding: 60px 0;

    p {
      font-size: 13.5px;
    }

    .button-filter {
      background-color: #4d5f69;
      margin-top: 20px;
      color: #fff;
      font-size: 20px;

      padding: 5px 5px;
      text-align: left;
      border-radius: 10px;
      border: 1px solid #eee;
    }
  }
}
