.video-gallery-generated {
  display: grid;
  grid-template-columns: repeat(8, 150px);
  gap: 20px;
}
.video-gallery-item {
  cursor: pointer;
  img {
    object-fit: cover;
    width: 150px;
    height: 200px;
  }
}
